<div class="mb-4">
    <nav>
        <ul class="border nav nav-pills p-3">
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLink]="['/record']" routerLinkActive="active">Record</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLink]="['/designation']" routerLinkActive="active">Designation</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLink]="['/workinghour']" routerLinkActive="active">Working Hour</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLink]="['/leave']" routerLinkActive="active">Leave</a>
            </li>
            <li class="nav-item mx-2">
                <button type="button" class="btn btn-danger" (click)="onLogout()">Log Out</button>
            </li>
        </ul>
    </nav>
</div>