<div class="bg-white font-monospace p-5 h5">
    <div class="py-2 text-center my-2">
        <a [routerLink]="['/leave']">Go To List</a>
    </div>
    <div class="h2 py-2 text-bg-success text-center mb-4">
        Edit Leave Record
    </div>
    <hr>
    <form [formGroup]="RegistrationForm">
        <div class="row my-4">
            <div class="col-md-6">
                <label class="form-label">Intern ID</label>
                <input class="form-control" type="text" formControlName="internId">
                <span
                    *ngIf="this.RegistrationForm.get('internId')?.invalid && this.RegistrationForm.get('internId')?.touched"
                    style="color: red;" class="h6">required
                </span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6">
                <label class="form-label">Leave Date</label>
                <input class="form-control" type="date" formControlName="leaveDate">
                <span
                    *ngIf="this.RegistrationForm.get('leaveDate')?.invalid && this.RegistrationForm.get('leaveDate')?.touched"
                    style="color: red;" class="h6">required
                </span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6">
                <label class="form-label">Reason</label>
                <textarea class="form-control" formControlName="reason"></textarea>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <button class="btn btn-success col-md-4" [disabled]="!RegistrationForm.valid" (click)="onEdit()">Edit
                    Leave</button>
            </div>
        </div>
    </form>
</div>