<app-header></app-header>
<form [formGroup]="RegistrationForm">
    <div class="row my-4">
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="internId" placeholder="Intern Id">
            <span
                *ngIf="this.RegistrationForm.get('internId')?.invalid && this.RegistrationForm.get('internId')?.touched"
                style="color: red;" class="h6">Input field required more then 3 char
            </span>
        </div>

        <div class="col-md-4">
            <button class="btn btn-success col-md-4" [disabled]="!RegistrationForm.valid"
                (click)="Search()">Search</button>
        </div>

    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-bg-success">
            <th scope="col">#</th>
            <th scope="col" style="min-width: 400px;">#</th>
        </thead>
        <tbody class="text-bg-light">
            <tr>
                <td>Id</td>
                <td>{{ interndetails?.internId}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ interndetails?.internName}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{ interndetails?.phoneNumber}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ interndetails?.internAddress}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ interndetails?.emailId}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ interndetails?.internStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-bg-success">
            <th scope="col">#</th>
            <th scope="col" style="min-width: 100px;">Month</th>
            <th scope="col" style="min-width: 100px;">Company Working Hour</th>
            <th scope="col" style="min-width: 100px;">Intern Working Hour</th>
        </thead>
        <tbody class="text-bg-light">
            <tr *ngFor="let r of whrecordlst; let i = index;">
                <td>{{ i + 1}}</td>
                <td>{{ r.monthly}}</td>
                <td>{{ r.companyWorkingHour}}</td>
                <td>{{ r.internWorkingHour}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-bg-success">
            <th scope="col">#</th>
            <th scope="col" style="min-width: 200px;">Leave Date</th>
            <th scope="col" style="min-width: 200px;">Reason</th>
        </thead>
        <tbody class="text-bg-light">
            <tr *ngFor="let r of leaverecordlst; let i = index;">
                <td>{{ i + 1}}</td>
                <td>{{ r.leaveDate}}</td>
                <td>{{ r.reason}}</td>
            </tr>
        </tbody>
    </table>
</div>