<app-header></app-header>
<div class="row my-4">
    <div class="col col-md-4">
        <button type="button" class="btn btn-success col-md-4" (click)="OnAdd()">Add</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-bg-success">
            <th scope="col">#</th>
            <th scope="col" style="min-width: 100px;">Intern ID</th>
            <th scope="col" style="min-width: 100px;">Month</th>
            <th scope="col" style="min-width: 100px;">Company Working Hour</th>
            <th scope="col" style="min-width: 100px;">Intern Working Hour</th>
            <th scope="col" style="min-width: 200px;">Action</th>
        </thead>
        <tbody class="text-bg-light">
            <tr *ngFor="let r of recordlst; let i = index;">
                <td>{{ i + 1}}</td>
                <td>{{ r.internId}}</td>
                <td>{{ r.monthly}}</td>
                <td>{{ r.companyWorkingHour}}</td>
                <td>{{ r.internWorkingHour}}</td>
                <td>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-danger" (click)="OnDelete(r.whid)">Delete</button>|
                        <button type="button" class="btn btn-warning" (click)="OnEdit(r.whid)">Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>